.content-meta {
  margin-top: 0;
  color: var(--gray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-inline-end: 8px;

      &::after {
        content: var(--content-meta-separator, ",");
        margin-inline-start: 8px;
      }
    }
  }
}
